{% extends "templates/philosopher/baseinfo.html" %}

{% block subcontent %}
<div>
	<h1>I'm Organizer </h1>
	{% if isAdmin %}
		<a href="/philosopher/accounts/toggleblack/{{ nowuser.id }}">
		{% if nowuser.is_active %}
		拉黑	
		{% elif nowuser.userprofile.status == 'w' %}
		批准
		{% else %}
		解禁
		{% endif %}</a>
	{% endif %}
</div>
<div>
	<p>我创建的活动</p>
	{% for activity in activities %}
	<p>{{ forloop.counter }} <a href="/philosopher/activity/detail/{{ activity.id }}">{{ activity }}</a></p>
	{% endfor %}
</div>
{% endblock subcontent %}